.footer {
  background: linear-gradient(135deg, #fbe4f0, #fff6f9, #ffeef7, #fef5fa);

  color: #d94880;
  padding: 50px 40px;
  font-family: sans-serif;
}
@keyframes gradientBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.footer-container {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
  gap: 50px;
}

.footer-col h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-col h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-col p {
  line-height: 1.2;
  color: #d94880;
  font-size: 17px;
}

.footer-item {
  display: flex;
  gap: 6px;
  margin-top: 8px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  padding: 5px 0;
  color: #d94880;
  cursor: pointer;
}

.footer-col ul li:hover {
  color: #d94880;
}

/* Email box */
.email-box {
  border-bottom: 1px solid #777;
  display: flex;
  align-items: center;
  width: 250px;
  margin-bottom: 15px;
}

.email-box input {
  background: none;
  border: none;
  color: white;
  padding: 8px 0;
  width: 100%;
  outline: none;
}

.send-icon {
  font-size: 20px;
  cursor: pointer;
}

/* Social icons */
.social-icons img {
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
}

/* Payment image */
.pay-img {
  width: 250px;
  margin-top: 5px;
}

/* Logo box */
.footer-logo-box {
  margin-top: 20px;
}

.footer-logo {
  width: 150px;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
